@model IEnumerable<DrinkMaster.Models.DrinksModel>

@{
    ViewData["Title"] = "Index";
}


<div class="text-left">
    <h1>Drinks</h1>
</div>

<div class="text-right">
    <a asp-action="Create" ><input type="submit" value="Add new Drink" class="btn btn-primary" /> </a>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlcoholPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Select" asp-route-id="@item.Id"><input type="submit" class="btn btn-primary" value="Select" /> </a>

            </td>
        </tr>
}
    </tbody>
</table>
